.BigBox {
    height: 340px;
    width: 440px;
    background-color: yellow;
}
.SmallBox {
    height:300px;
    width:400px;
    padding: 20px;
}
.row {
    overflow: hidden;
}
.red,.green,.cyan,.magenta {
    height: 150px;
    width: 200px;
    float: left;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-character;
    border: 2px solid black;
    /*border, set the boundary line*/
} 
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.cyan {
    background-color: cyan;
}
.magenta {
    background-color: magenta;
}